<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="main">
            <app-nav-home></app-nav-home>
            <br> <br> <br> <br>

            <section>
                <div class="container-fluid h-custom">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                    </div>

                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                      <form>                
                        <h3> CONNEXION</h3>
                        <div class="form-outline mb-4">
                          <input type="email" id="form3Example3" class="form-control form-control-lg" placeholder="Entrer une adresse Email valide" ngModel name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                          <label class="form-label" for="form3Example3">Adresse Email </label>
                        </div>

                        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                            <div *ngIf="email.errors?.['required']">Le champ est obligatoire</div>
                            <div *ngIf="email.errors?.['pattern']">Adresse Email invalide</div>
                        </div>
                        <br>


                        <div class="form-outline mb-3">
                          <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Entrer votre mot de passe" ngModel name="password" #password="ngModel" required />
                          <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                            <div *ngIf="password.errors?.['required']">Le champ est obligatoire</div>
                        </div>
                        <br>


                        <div class="d-flex justify-content-between align-items-center">
                            <button class="forgot">Mot de passe oublié ?</button>
                        </div>
              

                        <div class="text-center text-lg-start mt-4 pt-2">
                          <button type="button" class="btn btn-primary" [disabled]="(email.invalid ||password.invalid)" routerLink="/dashboard">Connexion</button>
                          <p class="small fw-bold mt-2 pt-1 mb-0">Vous n’avez pas de compte ? <button class="insc" (click)="goToRegister()">Inscrivez-vous</button></p>
                        </div>
              
                      </form>
                    </div>
                  </div>
                </div> 
            </section>
        </div>

      <app-footer-home></app-footer-home>
      <router-outlet></router-outlet> 
                    
    </body>
</html>
