
    <div class="col-sm-6 my-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" >{{ product?.name }}
            <a [routerLink]="['../../edit-product/', product.id]" class="btn btn-success btn-sm mx-4"><i class="bi bi-gear"></i></a>
            <button class="btn btn-danger btn-sm" (click)="onDeleteProduct(product.id)">
              <i class="bi bi-trash"></i>
            </button>
          </h5>
          <span class="badge text-bg-dark p-2">Prix: {{ product?.price }} TND</span>
          <span class="badge text-bg-dark p-2 m-2">Quantité: {{ product?.quantity }}</span>
          <p class="card-text">{{ product?.description }}</p>
        </div>
      </div>
    </div>

