

  <section>
<h3> liste livreurs</h3>

<div class="card" style="width: 18rem;">
     <img src="https://img.freepik.com/photos-gratuite/concept-livraison-portrait-homme-livraison-happy-african-american-tissu-rouge-tenant-paquet-boite-isole-fond-studio-gris-espace-copie_1258-1212.jpg?w=2000" class="card-img-top" alt="">
    <div class="card-body">
      <h4 class="card-title">Information:</h4>
      
      <p>   Nom et Prenom:<input type="text"> </p>
    
      <a href="#" class="btn btn-warning">retour</a>
      <a href="#" class="btn btn-primary mx-3"routerLink="/restaurant/delivery-details">plus détails</a>
    </div>
  </div>
  
 <div class="card" style="width: 18rem;">
  <img src="https://img.freepik.com/photos-gratuite/concept-livraison-portrait-homme-livraison-happy-african-american-tissu-rouge-tenant-paquet-boite-isole-fond-studio-gris-espace-copie_1258-1261.jpg?w=2000" class="card-img-top" alt="">
 <div class="card-body">
   <h4 class="card-title">Information:</h4>
   <p class="card-text">Nom et Prenom :<input type="text"> <br> </p>
   <a href="#" class="btn btn-warning">retour</a>
   <button class="btn btn-primary mx-3 " routerLink="/restaurant/delivery-details">plus détails</button>
 </div>
</div>


  </section>