<ng-container *ngIf="true">
  <div class="card-table">
<div class="card-menu">
  <table class="table table-responsive">
    <thead>

    <tr>
      <th>RepasName</th>
      <th>RepasImage</th>
      <th>Prix</th>
      <th>Quantite</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Repas 1</td>
        <td>
          <img style="width: 80px;"   src="https://www.radiofrance.fr/s3/cruiser-production/2019/02/3e27345f-9e1e-45bb-9e5f-906f0abb2870/870x489_gettyimages-922684138.jpg" class="card-img-top">
        </td>
        <td>8000TND</td>
        <td>2</td>
        <td>16000TND</td>
        <td>
          <button class="btn btn-danger">Supprimer</button>
        </td>
      </tr>

      <tr>
        <td>Repas 2</td>
        <td>
          <img style="width: 80px;"   src="https://realfood.tesco.com/media/images/1400x919-MargaritaPizza-555a4065-2573-4b41-bcf3-7193cd095d8f-0-1400x919.jpg" class="card-img-top">
        </td>
        <td>12000TND</td>
        <td>1</td>
        <td>12000TND</td>
        <td>
          <button class="btn btn-danger">Supprimer</button>
        </td>
      </tr>

      <tr>
        <td>Repas 3</td>
        <td>
          <img style="width: 80px;"   src="https://www.gardengourmet.be/sites/default/files/recipes/d3b23376acbe5e9881e87730e90d6046_180104_Schnitzel_with_baked_baby_potatoes_with_tomato_salad_and_avocado_dressing.jpg" class="card-img-top">
        </td>
        <td>24000TND</td>
        <td>1</td>
        <td>24000TND</td>
        <td>
          <button class="btn btn-danger">Supprimer</button>
        </td>
      </tr>

    </tbody>
  </table>

</div>

</div>

</ng-container>
<h3>Total : 52000TND</h3>
<a routerLink="../">

  <button type="button" class="btn btn-primary mx-3">Retour</button>
</a>
<button type="button" class="btn btn-warning">Passer la commande</button>





















