
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a *ngFor="let stock of stocks" class="list-group-item list-group-item-action my-1" role="button" aria-current="true" (click)="onSelectStock(stock.id)">
              <div class="d-flex w-100 justify-content-between">
                <div class="h3 text-info border-bottom border-info">
                  {{stock?.title}}
                </div>
                <button type="button" class="btn btn-success"><i class="bi bi-plus-circle"></i></button>
                <button type="button" class="btn btn-dark"><i class="bi bi-gear"></i></button>
                <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
              </div>
              <p class="mb-1">{{stock?.description}}</p>
              <small>{{stock?.type_stock}}</small>
            </a>
            <button class="btn btn-success my-4">Ajouter un stock<i class="bi bi-plus-circle mx-3"></i></button>
        </div>
    </div>
    <div class="col-md-8">
        <h3>list des produits d'un stock X...</h3>
        <div *ngFor="let product of stock_products" class="col-sm-6 my-1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" >{{ product?.name }}
                <button class="btn btn-success btn-sm mx-4"><i class="bi bi-gear"></i></button>
                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
              </h5>
              
              <span class="badge text-bg-dark p-2">Prix: {{ product?.price }} TND</span>
              <span class="badge text-bg-dark p-2 m-2">Quantité: {{ product?.quantity }}</span>
              <p class="card-text">{{ product?.description }}</p>
            </div>
          </div>
        </div>
        <button class="btn btn-success my-4">Ajouter un produit<i class="bi bi-plus-circle mx-3"></i></button>
    </div>
</div>