<div *ngFor="let meal of menu" class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="meal.imagePath" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ meal.name }}</h5>
        <p class="card-text">{{meal.price}} TND</p>
        <p class="card-text">{{meal.description}}</p>
        <p class="card-text">Quantite :
          <input [defaultValue]="0" type="number"/>

        </p>
        <button class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>
