
<form>
    <div class="mb-3 row">
        <label for="name" class="col-sm-3 col-form-label"> nom du produit </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="name">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="price" class="col-sm-3 col-form-label"> prix du produit </label>
        <div class="col-sm-5">
          <input type="number" class="form-control" id="price">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="quantity" class="col-sm-3 col-form-label"> quantity du produit </label>
        <div class="col-sm-5">
          <input type="number" class="form-control" id="quantity">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="description" class="col-sm-3 col-form-label"> description de produit </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="description">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger my-4 mx-3">Cancel</button>
        </div>
    </div>
</form>
