
<section>
    <h3> informations de livreur</h3>
    
    <div class="card" style="width: 18rem;">
         <img src="https://img.freepik.com/photos-gratuite/concept-livraison-portrait-homme-livraison-happy-african-american-tissu-rouge-tenant-paquet-boite-isole-fond-studio-gris-espace-copie_1258-1212.jpg?w=2000" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">information:</h4>
          
          <h5>   Nom et Prenom:<input type="text"> </h5>
          <h5> telephone : <input type="text" > </h5>
          <h5> rating : <input type="number" min="0" max="5"></h5>
          <a href="#" class="btn btn-warning">retour</a>
          
        </div>
      </div>
      