<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">Meals To Elife</h2>
                </div>

                <div class="menu">
                    <ul>
                        <li><button (click)="goToHome()" class="a"> ACCUEIL</button></li>
                        <li><button (click)="goToAbout()" class="a"> A PROPOS</button></li>
                        <li><button class="a" (click)="goToContact()"> CONTACT</button></li>
                        <li><button class="a" routerLink="/restaurant/depot"> DEPOT</button></li>
                        <li><button class="custom-btn btn-1" (click)="goToConnexion()"><span>CONNEXION</span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
