<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <div id="apropos">
            <div class="social"> <br>
                <h3> CENTRE ELIFE BEJA</h3> 
                <br> 

                <a href="#"> <i class="fa fa-facebook-square" aria-hidden="true">&nbsp; Page Facebook</i></a>
                <a href="#"> <i class="fa fa-linkedin-square" aria-hidden="true">&nbsp; Page LinkedIn</i></a> 
                <a href="#"> <i class="fa fa-google-plus-square" aria-hidden="true">&nbsp; Site Web</i></a> 
                <br> <br>
                
                <i class="fa fa-phone-square" aria-hidden="true"> +216 5000000</i>
                <i class="fa fa-fax" aria-hidden="true"> +216 5000000</i> 
                <br> <br>

                <div class="drt">
                    <p > Copyright 2022 © "ADA LoveLace Team", tous droits réservés </p>
                </div>
            </div>
        </div>
    </body>
</html>
