



<button type="button" class="btn btn-secondary"> Retour </button><br>

<h6>Coordonnées du restaurants</h6><br>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Nom du restaurant :</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="nom du restaurant">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Adresse du restaurant :</label>
  <input type="text" class="form-control"  placeholder="address du restaurant"><br>
  <button type="button" class="btn btn-primary">Enregistrer</button>
</div>

<h6>Ajouter ou modifier un repas </h6><br>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Nom du repas :</label>
  <input type="text" class="form-control"  placeholder="nom du repas">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Description</label>
  <input type="text" class="form-control" placeholder="description du repas"><br>
  <label for="exampleFormControlInput3" class="form-label"> Prix :</label>
  <input type="number" class="mx-3">
  <button type="button" class="btn btn-warning mx-3">Modifier</button>
  <button type="button" class="btn btn-primary">Ajouter</button><br>
  <button type="button" class="btn btn-dark my-3">Vider les champs</button>
</div>

<div>
  <h3>Menu Principal</h3>
</div>
