<form>
    <div class="mb-3 row">
        <label for="title" class="col-sm-3 col-form-label"> nom du stock </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="title">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="type_stock" class="col-sm-3 col-form-label"> type des produits de stock </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="type_stock">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="description" class="col-sm-3 col-form-label"> description de stock </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="description">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger my-4 mx-3">Cancel</button>
        </div>
    </div>
</form>


<!-- 
    title: 'stocks-title-n°01',
      type_stock: 'type_stock_n°01',
      description: 'description_de_stock_n°01'
 -->