<!DOCTYPE html>
<html>
    
    <body>
        <app-nav-home></app-nav-home>

        <div class="wrapper">
            <br> <br> <br><br> <br> <br>

            <div class="about">
                <div class="image">
                    <img src="../../assets/images/3.jpg">
                </div>

                <div class="text">
                    <p> <b> A PROPOS DU CENTRE</b> <br> <br>
                        Le Centre Elife Béja a pour vocation de mettre à niveau les jeunes diplômés de l’ISET ou d'autres universités afin d’augmenter leur chance d’insertion professionnelle : <br>
                        - Préparation au métier du numérique(développement logiciel, Business Intelligence, informatique embarquée ). <br>
                        -Community management( Business English ,Stratégie Social Media,Gestion et spécificités des réseaux sociaux, Gestion de l’e-réputation). <br>
                        Outre la formation, le centre « Elife » vise à promouvoir la culture via des événements culturels (conférences, expositions, projections de films) et l’entreprenariat grâce à des espaces et des formations dédiés à l’incubation et le co-working.
                    </p>
                    <a href="https://fondationtunisie.org/"> Consulter le site</a>
                </div>
            </div>
        </div>

        <app-footer-home></app-footer-home>